<mat-sidenav-container class="h-screen" (backdropClick)="sidebarState.closeMobile()">
  <mat-sidenav
    [mode]="isHandset() ? 'over' : 'side'"
    [opened]="isHandset() ? sidebarState.mobileOpen() : true"
    (closedStart)="sidebarState.closeMobile()"
    class="!w-64"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header></app-header>
    <main class="p-4 lg:p-6 bg-gray-100 dark:bg-gray-950 min-h-[calc(100%-4rem)]">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
